<!DOCTYPE html>
<html>
<head>
    <title>Agent</title>
    <meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1" />
    
    <!-- Stylesheets -->
    <link href="lib/jqm/jquery.mobile-1.2.0.min.css" rel="stylesheet" type="text/css" />
    <link href="css/app.css" rel="stylesheet" type="text/css" />

	<!-- Scripts --> 

    <script src="lib/phonegap/cordova-2.2.0.js" type="text/javascript" charset="utf-8"></script>

    <!-- Home Page Template -->
    <script type="text/template" id="home" >
	        <div data-role="header">
	     		<a href="#" data-role="button" data-inline="true" data-icon="info" data-iconpos="notext">Info</a>	
	            <h1>Agent Home</h1>
	            <a href="#settings" data-role="button" data-inline="true" data-icon="gear" data-iconpos="notext">Settings</a>
	        </div>
	      	<div id="enrolled" data-role="content" class="fullarea">
                <ul data-role="controlgroup">
                    <a href="#demo" data-role="button" data-iconpos="right" data-icon="arrow-r">Demo Apps</a>
                    <a id="logonScan" data-role="button" data-iconpos="right" data-icon="arrow-r">Scan Login QR Code</a>
                    <a href="#authz" data-role="button" data-iconpos="right" data-icon="arrow-r">Review Authorizations</a>
                </ul>
	      	</div>
	      	<div id="unenrolled" data-role="content" class="fullarea">
	      		Welcome to your Personal Agent.  This Agent must be enrolled with the Authentication Server before you may use it.  
	     
                <ul data-role="controlgroup">
                    <a id="enrollScan" data-role="button" data-iconpos="right" data-icon="arrow-r">Scan Enrollment QR Code</a>
                </ul>
	      	</div>
    </script>
    
    <!-- Passcode Dialogue Template -->
    <script type="text/template" id="passcode">
			Enter your passcode
			<BR><BR>
			<div class="ui-grid-c passcodeBoxes center">
				<div class="ui-block-a">
					<input type="password" id="passcode1" class="passcode" readonly>
				</div>
				<div class="ui-block-b">
					<input type="password" id="passcode2" class="passcode" readonly>
				</div>
				<div class="ui-block-c">
					<input type="password" id="passcode3" class="passcode" readonly>
				</div>
				<div class="ui-block-d">
					<input type="password" id="passcode4" class="passcode" readonly>
				</div>
			</div>
			<br><BR>
      		<div class="ui-grid-b keypadBox center">
				<div class="ui-block-a">
					<a id="1" class="keypad ui-btn-inner" data-role="button" data-corners="false" data-key="1">1</a>
				</div>
				<div class="ui-block-b">
					<a id="2" class="keypad ui-btn-inner" data-role="button" data-corners="false" data-key="2">2</a>
				</div>
				<div class="ui-block-c">
					<a id="3" class="keypad ui-btn-inner" data-role="button" data-corners="false" data-key="3">3</a>
				</div>
			</div>
			<div class="ui-grid-b keypadBox center">
				<div class="ui-block-a">
					<a id="4" class="keypad ui-btn-inner" data-role="button" data-corners="false" data-key="4">4</a>
				</div>
				<div class="ui-block-b">
					<a id="5" class="keypad ui-btn-inner" data-role="button" data-corners="false" data-key="5">5</a>
				</div>
				<div class="ui-block-c">
					<a id="6" class="keypad ui-btn-inner" data-role="button" data-corners="false" data-key="6">6</a>
				</div>
			</div>
			<div class="ui-grid-b keypadBox center">
				<div class="ui-block-a">
					<a id="7" class="keypad ui-btn-inner" data-role="button" data-corners="false" data-key="7">7</a>
				</div>
				<div class="ui-block-b">
					<a id="8" class="keypad ui-btn-inner" data-role="button" data-corners="false" data-key="8">8</a>
				</div>
				<div class="ui-block-c">
					<a id="9" class="keypad ui-btn-inner" data-role="button" data-corners="false" data-key="9">9</a>
				</div>
			</div>
			<div class="ui-grid-b keypadBox center">
				<div class="ui-block-a">
					<a id="cancel" class="keypad ui-btn-inner" data-role="button" data-corners="false">Cancel</a>
				</div>
				<div class="ui-block-b">
					<a id="0" class="keypad ui-btn-inner" data-role="button" data-corners="false" data-key="0">0</a>
				</div>
				<div class="ui-block-c">
					<a id="backspace" class="keypad ui-btn-inner" data-role="button" data-corners="false">Delete</a>
				</div>
			</div>
    </script>
    <!-- Settings Page Template -->
    <script type="text/template" id="settings" >
	        <div data-role="header">
	     		<a href="#" data-role="button" data-inline="true" data-icon="home" data-iconpos="notext">Home</a>	
	            <h1>Settings</h1>
	        </div>
	        <div data-role="content">
	      		Device Name:
	      		<input type="text" id="name" name="name" value="<%= Name %>" />
	      		Device Id:
	      		<input type="text" id="id" value="<%= DeviceId %>" />
	      		Authentication Server URL:
	      		<input type="text" id="authenticationServerURL" value="<%= AuthenticationServerURL %>" />
	      		Registrar URL:
	      		<input type="text" id="registrarURL" value="<%= RegistrarURL %>" />
	      		Demonstration Apps URL:
	      		<input type="text" id="demoAppsURL" value="<%= DemoAppsURL %>" />
	      		Registrar Token:
	      		<input type="text" id="registrarToken" value="<%= RegistrarToken %>" />
	      		Resource Server Protocol
	      		<input type="text" id="resourceServerProtocol" value="<%= ResourceServerProtocol %>" />
	      		Resource Server Port
	      		<input type="text" id="resourceServerPort" value="<%= ResourceServerPort %>" />
	      		Resource Server Ids:
	      		<div id="resourceServerIdContainer" data-role="content" class="fullarea">
	      			<ul data-role="listview" data-theme="c">
		        		<% _.each(ResourceServerIds, function(resourceServerId) { %>  
		        			<li><%= resourceServerId %></li> 
						<% }); %>
					</ul>
				</div>
	      	</div>
	      	<div data-role="footer">
	      		<div class="ui-grid-a">
		      		<div class="ui-block-a">
	      				<a id="reset" data-role="button" data-inline="true" data-icon="refresh">Reset</a>
	      			</div>
		      		<div class="ui-block-b" style="text-align: right">
		      			<a id="save" data-role="button" data-inline="true" data-icon="check">Save</a>
		      		</div>
		      	</div>
	      	</div>
    </script>
    
    <!-- Demo Page Template -->
    <script type="text/template" id="demo" >
    		
            <div data-role="header">
            	<a href="#" data-role="button" data-inline="true" data-icon="home" data-iconpos="notext">Home</a>
                <h1>Demo</h1>
                <a href="#settings" data-role="button" data-inline="true" data-icon="gear" data-iconpos="notext">Settings</a>
            </div>
            <div data-role="content" class="fullarea">
                    This mobile Personal Agent App can be used by any registered client apps.  
                    For existing demostration applications, please check out our demo apps.
                    <a id="demoApps" name="demoAppsButton" data-role="button">Demo Apps</a>
            </div>
    </script>
    
    <!-- AuthZ Page Template -->
    <script type="text/template" id="authz" >
            <div data-role="header">
            	<a href="#" data-role="button" data-inline="true" data-icon="home" data-iconpos="notext">Home</a>
                <h1>Your Authorizations</h1>
                <a href="#settings" data-role="button" data-inline="true" data-icon="gear" data-iconpos="notext">Settings</a>
            </div>
            <div id="messageBar" class="ui-bar ui-bar-e"></div>
            <div id="noAuthZContent" data-role="content" class="fullarea">
        		<p>This Personal Agent does not have any authorizations yet.</p>
            </div>
            <div id="authZContent" data-role="content" class="fullarea">
            	<ul data-role="controlgroup">
	            	<% _.each(Apps, function(app, key) { %>  
	            		<a id="detail" data-appid="<%= key %>" data-role="button" data-iconpos="right" data-icon="arrow-r">
	            			<h3><%= app.name %></h3>
	            			<p>Last Access: <%= app.lastAccess %></p>
	            		</a>
	               	<% }); %>
	            </ul>
            </div>
    </script>
    
     <!-- AuthZ Details Page Template -->
    <script type="text/template" id="authzDetail" >
            <div data-role="header">
            	<a id="back" data-role="button" data-inline="true" data-icon="arrow-l">Authorizations</a>
                <h1>Authorization Detail</h1>
                <a id="delete" data-role="button" data-inline="true" data-icon="delete">Delete</a>
            </div>
            <div id="messageBar" class="ui-bar ui-bar-e"></div>
            <div id="authZContent" data-role="content" class="fullarea">
        		<h3><%= this.app.name %></h3>
        		<div class="ui-grid-a">
  					<div class="ui-block-a" style="width: 90%;">
						<p>Last Access: <%= this.app.lastAccess %></p>
						<p>Accesses:</p>
						<ul data-role="listview" class="ui-listview">
							<% _.each(this.app.resources, function(resource) { %>
								<li class="ui-li ui-li-static ui-btn-up-c ui-first-child">
									<p><%= ResourceDescriptions[resource] %></p>
								</li>
							<% }); %>		
						</ul>
					</div>
					<div class="ui-block-b" style="width: 10%; text-align: right;">
						
					</div>		
				</div>
            </div>
    </script>

    <!-- AR Template -->
    <script type="text/template" id="agentrequest" >
            <div data-role="header">
            	<a href="#" data-role="button" data-inline="true" data-icon="home" data-iconpos="notext">Home</a>
                <h1>Agent Request</h1>
                <a href="#settings" data-role="button" data-inline="true" data-icon="gear" data-iconpos="notext">Settings</a>
            </div>
            <div id="messageBar" class="ui-bar ui-bar-e"></div>
            <div data-role="content" class="fullarea">
                <div id="container-passcode"></div>
	           	<div id="authZContainer" data-role="content" class="fullarea">
	            	<ul data-role="listview" data-theme="c" class="resourceList">
		        		<% _.each(ResourceDescriptions, function(resourceDescriptions) { %>  
		        			<li><%= resourceDescriptions %></li> 
						<% }); %>
					</ul>
			    </div>
            </div>
          	<div id="authZFooter" data-role="footer">
           		<div class="ui-grid-a">
		      		<div class="ui-block-a">
	      				<a id="dontAllowButton" data-role="button" data-inline="true"  data-icon="">Don't Allow</a>
	      			</div>
		      		<div class="ui-block-b" style="text-align: right">
		      			<a id="allowButton" data-role="button" data-inline="true"  data-icon="">OK</a>
		      		</div>
		      	</div>
		    </div>
    </script>

    <!-- Enrollment Page Template -->
    <script type="text/template" id="enroll" >
            <div data-role="header">
            	<a href="#" data-role="button" data-inline="true" data-icon="home" data-iconpos="notext">Home</a>
                <h1>Enrollment</h1>
                <a href="#settings" data-role="button" data-inline="true" data-icon="gear" data-iconpos="notext">Settings</a>
            </div>
            <div id="messageBar" class="ui-bar ui-bar-e"></div>
            <div id="mainContainer" data-role="content" class="fullarea">
            <div id="container-passcode"></div>
           	</div>
    </script>

    <!-- All the Scripts - for speed no require.js-->
    <script src="lib/jqm/jquery-1.8.2.min.js"></script>
    <script src="js/util/common.js"></script>
    <script src="js/util/ui.js"></script>
    <script src="js/init.js"></script>
    <script src="lib/jqm/jquery.mobile-1.2.0.min.js"></script>
    <script src="lib/jstorage/jstorage.min.js"></script>
    <script src="lib/backbone/underscore-min.js"></script>
    <script src="lib/backbone/backbone-min.js"></script>
    <script src="lib/barcodescanner/barcodescanner.js"></script>
    <script src="lib/pushnotification/PushNotification.js"></script>
    <script src="lib/uri/parseuri.js"></script>
    <script src="lib/fastclick/fastclick.js"></script>
    <script src="js/models/Settings.js"></script>
    <script src="js/models/Enrollment.js"></script>
    <script src="js/models/AgentRequest.js"></script>
    <script src="js/models/Authorizations.js"></script>
    <script src="js/collections/EnrollmentSessions.js"></script>
    <script src="js/collections/AgentRequestSessions.js"></script>
    <script src="js/views/DemoView.js"></script>
    <script src="js/views/AuthzView.js"></script>
    <script src="js/views/AuthzDetailView.js"></script>
    <script src="js/views/HomeView.js"></script>
    <script src="js/views/SettingsView.js"></script>
    <script src="js/views/EnrollmentView.js"></script>
    <script src="js/views/AgentRequestView.js"></script>
    <script src="js/views/PasscodeView.js"></script>
	<script src="js/routers/AppRouter.js"></script>
	
    <script src="js/main.js"></script>
	
</head>

<body></body>

</html>