<!DOCTYPE html>
<html>
<head>
    <title>Agent</title>
    <meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1" />
    
    <!-- Stylesheets -->
    <link href="lib/jqm/jquery.mobile-1.2.0.min.css" rel="stylesheet" type="text/css" />
    <link href="css/app.css" rel="stylesheet" type="text/css" />

	<!-- Scripts --> 

    <script src="lib/phonegap/cordova-2.2.0.js" type="text/javascript" charset="utf-8"></script>

    <!-- Home Page Template -->
    <script type="text/template" id="home" >
	        <div data-role="header">
	     		<a href="#" data-role="button" data-inline="true" data-icon="info" data-iconpos="notext">Info</a>	
	            <h1>Agent Home</h1>
	            <a href="#settings" data-role="button" data-inline="true" data-icon="gear" data-iconpos="notext">Settings</a>
	        </div>
	      	<div id="enrolled" data-role="content" class="fullarea">
                <ul data-role="controlgroup">
                    <a href="#demo" data-role="button" data-iconpos="right" data-icon="arrow-r">Demo Apps</a>
                    <a href="#scan" data-role="button" data-iconpos="right" data-icon="arrow-r">Scan Login QR Code</a>
                    <a href="#authz" data-role="button" data-iconpos="right" data-icon="arrow-r">Review Authorizations</a>
                </ul>
                
                 <div data-role="content" class="fullarea">
            	<a id="tokenlink" href="javascript:handleOpenURL('a2p3.net://token?request=eyJ0eXAiOiJKV1MiLCJhbGciOiJIUzUxMiIsImtpZCI6InM1NlpqSjFScHE0ZWhqTE0ifQ.eyJpc3MiOiJlbWFpbC5sb2NhbC5hMnAzLm5ldCIsImF1ZCI6Iml4LmxvY2FsLmEycDMubmV0IiwicmVxdWVzdC5hMnAzLm9yZyI6eyJyZXR1cm5VUkwiOiJodHRwOi8vZW1haWwubG9jYWwuYTJwMy5uZXQ6ODA4MC9kYXNoYm9hcmQvbG9naW4vcmVzcG9uc2UiLCJyZXNvdXJjZXMiOlsiaHR0cDovL2VtYWlsLmxvY2FsLmEycDMubmV0OjgwODAvc2NvcGUvZGVmYXVsdCIsImh0dHA6Ly9yZWdpc3RyYXIubG9jYWwuYTJwMy5uZXQ6ODA4MC9zY29wZS92ZXJpZnkiXSwiYXV0aCI6eyJwYXNzY29kZSI6dHJ1ZSwiYXV0aG9yaXphdGlvbiI6dHJ1ZX19LCJpYXQiOjEzNTgyMjk3OTR9.UbyMpfL6gyrWsuE32qwV2F-X-bkVIv2N5hf1Sd9pXExJtjYT07Bl_dXW0shT4moo_DGZ1rlnNTycQEg8ZGyZNA&state=mystate&notificationURL=true');">Token link</a>
           		</div>
	      	</div>
	      	<div id="unenrolled" data-role="content" class="fullarea">
	      		Welcome to your Personal Agent.  This Agent must be enrolled with the Authentication Server before you may use it.  
	     
                <ul data-role="controlgroup">
                    <a href="#scan" data-role="button" data-iconpos="right" data-icon="arrow-r">Scan Enrollment QR Code</a>
                </ul>
	      	</div>
    </script>
    
    <!-- Settings Page Template -->
    <script type="text/template" id="settings" >
	        <div data-role="header">
	     		<a href="#" data-role="button" data-inline="true" data-icon="home" data-iconpos="notext">Home</a>	
	            <h1>Settings</h1>
	        </div>
	        <div data-role="content">
	      		Device Name:
	      		<input type="text" id="name" name="name" value="<%= Name %>" />
	      		Device Id:
	      		<input type="text" id="id" value="<%= DeviceId %>" />
	      		Authentication Server URL:
	      		<input type="text" id="authenticationServerURL" value="<%= AuthenticationServerURL %>" />
	      		Demonstration Apps URL:
	      		<input type="text" id="demoAppsURL" value="<%= DemoAppsURL %>" />
	      		Registrar Token:
	      		<input type="text" id="registrarToken" value="<%= RegistrarToken %>" />
	      	</div>
	      	<div data-role="footer">
	      		<div class="ui-grid-a">
		      		<div class="ui-block-a">
	      				<a id="reset" data-role="button" data-inline="true" data-icon="refresh">Reset</a>
	      			</div>
		      		<div class="ui-block-b" style="text-align: right">
		      			<a id="save" data-role="button" data-inline="true" data-icon="check">Save</a>
		      		</div>
		      	</div>
	      	</div>
    </script>
    
    <!-- Demo Page Template -->
    <script type="text/template" id="demo" >
    		
            <div data-role="header">
            	<a href="#" data-role="button" data-inline="true" data-icon="home" data-iconpos="notext">Home</a>
                <h1>Demo</h1>
                <a href="#settings" data-role="button" data-inline="true" data-icon="gear" data-iconpos="notext">Settings</a>
            </div>
            <div data-role="content" class="fullarea">
                    This mobile Personal Agent App can be used by any registered client apps.  
                    For existing demostration applications, please check out our demo apps.
                    <a id="demoApps" name="demoAppsButton" data-role="button">Demo Apps</a>
            </div>
    </script>

    <!-- Scan Page Template -->
    <script type="text/template" id="scan" >
            <div data-role="header">
            	<a href="#" data-role="button" data-inline="true" data-icon="home" data-iconpos="notext">Home</a>
                <h1>Scan</h1>
                 <a href="#settings" data-role="button" data-inline="true" data-icon="gear" data-iconpos="notext">Settings</a>
            </div>
            <div data-role="content" class="fullarea">
   				TODO: move this button click to the first event after rendering
                <a id="add-scan" data-role="button" data-icon="">Scan</a>
            </div>
    </script>

    <!-- AuthZ Page Template -->
    <script type="text/template" id="authz" >
            <div data-role="header">
            	<a href="#" data-role="button" data-inline="true" data-icon="home" data-iconpos="notext">Home</a>
                <h1>Authorizations</h1>
                <a href="#settings" data-role="button" data-inline="true" data-icon="gear" data-iconpos="notext">Settings</a>
            </div>
            <div data-role="content" class="fullarea">
                    authorizations
            </div>
    </script>

    <!-- AR Template -->
    <script type="text/template" id="agentrequest" >
            <div data-role="header">
            	<a href="#" data-role="button" data-inline="true" data-icon="home" data-iconpos="notext">Home</a>
                <h1>Agent Request</h1>
                <a href="#settings" data-role="button" data-inline="true" data-icon="gear" data-iconpos="notext">Settings</a>
            </div>
            <div data-role="content" class="fullarea">
                <div id="passcodeContainer" data-role="content" class="fullarea">
	            	Enter your passcode:
	            	<div data-role="fieldcontain">
			           	<input type="password" name="passcode" id="passcode" class="passcode" maxlength="4" />
		           	</div>
		           	<a id="login" data-role="button" data-icon="">Login</a>
	           	</div>
	           	<div id="authZContainer" data-role="content" class="fullarea">
	            	TODO: add in RS responses
	            	<div class="ui-grid-a">
			      		<div class="ui-block-a">
		      				<a id="dontAllowButton" data-role="button" data-inline="true"  data-icon="">Don't Allow</a>
		      			</div>
			      		<div class="ui-block-b" style="text-align: right">
			      			<a id="allowButton" data-role="button" data-inline="true"  data-icon="">OK</a>
			      		</div>
			      	</div>
	           	</div>
            </div>
    </script>

    <!-- Enrollment Page Template -->
    <script type="text/template" id="enroll" >
            <div data-role="header">
                <h1>Enrollment</h1>
                	
            </div>
            <div id="passcodeContainer" data-role="content" class="fullarea">
            	Enter your passcode:
            	<div data-role="fieldcontain">
		           	<input type="password" name="passcode" id="passcode" class="passcode" maxlength="4" />
	         
	           	</div>
	           	<a id="enrollButton" data-role="button" data-icon="">Enroll</a>
           	</div>
    </script>

    <!-- All the Scripts -->
    <script src="lib/jqm/jquery-1.8.2.js"></script>
    <script src="js/util/common.js"></script>
    <script src="js/util/ui.js"></script>
    <script src="js/init.js"></script>
    <script src="lib/jqm/jquery.mobile-1.2.0.min.js"></script>
    <script src="lib/jstorage/jstorage.min.js"></script>
    <script src="lib/backbone/underscore-min.js"></script>
    <script src="lib/backbone/backbone-min.js"></script>
    <script src="lib/barcodescanner/barcodescanner.js"></script>
    <script src="lib/pushnotification/PushNotification.js"></script>
    <script src="lib/uri/parseuri.js"></script>
    <script src="js/models/Settings.js"></script>
    <script src="js/models/Enrollment.js"></script>
    <script src="js/models/AgentRequest.js"></script>
    <script src="js/collections/EnrollmentSessions.js"></script>
    <script src="js/collections/AgentRequestSessions.js"></script>
    <script src="js/views/DemoView.js"></script>
    <script src="js/views/ScanView.js"></script>
    <script src="js/views/AuthzView.js"></script>
    <script src="js/views/HomeView.js"></script>
    <script src="js/views/SettingsView.js"></script>
    <script src="js/views/EnrollmentView.js"></script>
    <script src="js/views/AgentRequestView.js"></script>
	<script src="js/routers/AppRouter.js"></script>
	
    <script src="js/main.js"></script>
	
</head>

<body></body>

</html>