<!DOCTYPE html>
<html>
<head>
    <title>Agent</title>
    <meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1" />
    
    <!-- Stylesheets -->
    <link href="lib/jqm/jquery.mobile-1.2.0.min.css" rel="stylesheet" type="text/css" />
    <link href="css/app.css" rel="stylesheet" type="text/css" />

	<!-- Scripts --> 
    <!-- <script src="http://jsconsole.com/remote.js?1BF7E2C1-C486-4729-8811-35E028FBEDE0"></script> -->

    <script src="lib/phonegap/cordova-2.2.0.js" type="text/javascript" charset="utf-8"></script>

    <!-- Home Page Template -->
    <script type="text/template" id="home" >
	        <div data-role="header">
	     		<a href="#info" data-role="button" data-inline="true" data-icon="info" data-iconpos="notext">Info</a>	
	            <h1>Agent Home</h1>
	            <a href="#settings" data-role="button" data-inline="true" data-icon="gear" data-iconpos="notext">Settings</a>
	        </div>
	        <div id="messageBar" class="ui-bar ui-bar-e"></div>
	      	<div id="enrolled" data-role="content" class="fullarea">
            
                <a class="homeButton" id="logonScan" data-role="button" data-iconpos="right" data-icon="arrow-r">Scan Login QR Code</a>
                <a class="homeButton" href="#authz" data-role="button" data-iconpos="right" data-icon="arrow-r">Review Authorizations</a>
                <a class="homeButton" id="demo" data-role="button" data-iconpos="right" data-icon="arrow-r">Demo Apps</a>
        
	      	</div>
	      	<div id="unenrolled" data-role="content" class="fullarea">
	      		Welcome to your Personal Agent.  This Agent must be enrolled with the Authentication Server before you may use it.  
	     
               
                	<a class="homeButton" id="enrollDirect" data-role="button" data-iconpos="right" data-icon="arrow-r">Enroll Agent Directly</a>
                    <a class="homeButton" id="enrollScan" data-role="button" data-iconpos="right" data-icon="arrow-r">Scan Enrollment QR Code</a>
             
	      	</div>
    </script>
    
    <!-- Passcode Dialogue Template -->
    <script type="text/template" id="passcode">
			Enter your passcode
			<div data-role="content">
				<input type="password" id="passcode1" class="passcode" pattern="\d*" maxlength="4">
			</div>
    </script>
    <!-- Settings Page Template -->
    <script type="text/template" id="settings" >
	        <div data-role="header">
	     		<a href="#" data-role="button" data-inline="true" data-icon="home" data-iconpos="notext">Home</a>	
	            <h1>Settings</h1>
	        </div>
	        <div data-role="content">
	      		Device Name:
	      		<input type="text" id="name" name="name" value="<%= Name %>" />
	      		Device Id:
	      		<input type="text" id="id" value="<%= DeviceId %>" />
	      		Notification Device token:
	      		<input type="text" id="notificationDeviceToken" value="<%= NotificationDeviceToken %>" />
	      		Authentication Server Protocol:
	      		<select id="authenticationServerProtocolList" data-mini="true">
	      			<option value="http">
	      				http</option>
	      			<option value="https">
	      				https</option>
	      		</select>
	      		Authentication Server Host:
	      		<select id="authenticationServerHostList" data-mini="true">
	      			<option value="as.a2p3.net">as.a2p3.net</option>
	      			<option value="as.dev.a2p3.net">as.dev.a2p3.net</option>
	      			<option value="as.local.a2p3.net">as.local.a2p3.net</option>
	      		</select>
	      		Authentication Server Port (optional):
	      		<input pattern="\d*" type="text" id="authenticationServerPort" value="<%= AuthenticationServerPort %>" />
	      		
	      		Registrar Server Protocol:
	      		<select id="registrarProtocolList" data-mini="true">
	      			<option value="http">
	      				http</option>
	      			<option value="https">
	      				https</option>
	      		</select>
	      		Registrar Server Host:
	      		<select id="registrarHostList" data-mini="true">
	      			<option value="registrar.a2p3.net">registrar.a2p3.net</option>
	      			<option value="registrar.dev.a2p3.net">registrar.dev.a2p3.net</option>
	      			<option value="registrar.local.a2p3.net">registrar.local.a2p3.net</option>
	      		</select>
	      		Registrar Server Port (optional):
	      		<input pattern="\d*" type="text" id="registrarPort" value="<%= RegistrarPort %>" />
	      		
	      		Setup Server Protocol:
	      		<select id="setupProtocolList" data-mini="true">
	      			<option value="http">
	      				http</option>
	      			<option value="https">
	      				https</option>
	      		</select>
	      		Setup Server Host:
	      		<select id="setupHostList" data-mini="true">
	      			<option value="setup.a2p3.net">setup.a2p3.net</option>
	      			<option value="setup.dev.a2p3.net">setup.dev.a2p3.net</option>
	      			<option value="setup.local.a2p3.net">setup.local.a2p3.net</option>
	      		</select>
	      		Setup Server Port:
	      		<input type="url" id="setupPort" value="<%= SetupPort %>" />
	      		Demonstration Apps URL:
	      		<input type="url" id="demoAppsURL" value="<%= DemoAppsURL %>" />
	      		Registrar Token:
	      		<input type="text" id="registrarToken" value="<%= RegistrarToken %>" />
	      		Resource Server Protocol:
	      		<select id="resourceServerProtocolList" data-mini="true">
	      			<option value="http">
	      				http</option>
	      			<option value="https">
	      				https</option>
	      		</select>
	      		Resource Server Port (Optional):
	      		<input pattern="\d*" type="text" id="resourceServerPort" value="<%= ResourceServerPort %>" />
	      		Resource Server Ids:
	      		<div id="resourceServerIdContainer" data-role="content" class="fullarea">
	      			<ul data-role="listview" data-theme="c">
		        		<% _.each(ResourceServerIds, function(resourceServerId) { %>  
		        			<li><%= resourceServerId %></li> 
						<% }); %>
					</ul>
				</div>
				App Names Cache:
				<div id="appsContainer" data-role="content" class="fullarea">
	      			<ul data-role="listview" data-theme="c">
		        		<% _.each(AppNameCache, function(app) { %>  
		        			<li><%= app.appId %>: <%= app.name %></li> 
						<% }); %>
					</ul>
				</div>
	      	</div>
	      	<div data-role="footer">
	      		<div class="ui-grid-a">
		      		<div class="ui-block-a">
	      				<a id="reset" data-rel="popup" data-role="button" data-inline="true">Reset</a>
	      				<div data-role="popup" id="resetDialogue">
	      					<div data-role="header" data-theme="e">
								<h1>Confirm Reset</h1>
							</div>
							<div data-shadow="true" data-role="content" data-theme="d">
								<h3 class="ui-title">Are you sure you want to reset your setting to the installation defaults?</h3>
								<p>This action cannot be undone.</p>
								<div data-role="controlgroup">
									<a id="cancel" data-role="button"  data-rel="back" data-theme="c" >Cancel</a>    
									<a id="confirm" data-resetto="local" data-role="button" data-transition="flow" data-theme="a" >Reset to *.local.a2p3.net</a> 
									<a id="confirm" data-resetto="dev" data-role="button" data-transition="flow" data-theme="a" >Reset to *.dev.a2p3.net</a> 
									<a id="confirm" data-resetto="prod" data-role="button" data-transition="flow" data-theme="a" >Reset to *.a2p3.net (Prod)</a>
								</div>  
							</div>
	      				</div>
	      			</div>
		      		<div class="ui-block-b" style="text-align: right">
		      			<a id="save" data-role="button" data-inline="true" data-icon="check">Save</a>
		      		</div>
		      	</div>
	      	</div>
    </script>
    <!-- info page template -->
    <script type="text/template" id="info" >
            <div data-role="header">
            	<a href="#" data-role="button" data-inline="true" data-icon="home" data-iconpos="notext">Home</a>
            	<h1>Info</h1>
    		</div>
    		<div data-role="content" class="fullarea">
    			<h2>Personal Agent</h2>
    			<p style="font-style: italic">A2P3 Protocol Draft v0.9</p>
    			<p>App Version - v0.10</p>
    			<p>More info at <a id="a2p3link">a2p3.net</a></p>
    		</div>
    </script>
    
    <!-- Demo Page Template -->
    <script type="text/template" id="demo" >
    		
            <div data-role="header">
            	<a href="#" data-role="button" data-inline="true" data-icon="home" data-iconpos="notext">Home</a>
                <h1>Demo</h1>
                <a href="#settings" data-role="button" data-inline="true" data-icon="gear" data-iconpos="notext">Settings</a>
            </div>
            <div data-role="content" class="fullarea">
                    This mobile Personal Agent App can be used by any registered client apps.  
                    For existing demostration applications, please check out our demo apps.
                    <a id="demoApps" name="demoAppsButton" data-role="button">Demo Apps</a>
            </div>
    </script>
    
    <!-- AuthZ Page Template -->
    <script type="text/template" id="authz" >
            <div data-role="header">
            	<a href="#" data-role="button" data-inline="true" data-icon="home" data-iconpos="notext">Home</a>
                <h1>Authorizations</h1>
                <a href="#settings" data-role="button" data-inline="true" data-icon="gear" data-iconpos="notext">Settings</a>
            </div>
            <div id="messageBar" class="ui-bar ui-bar-e"></div>
            <div id="loadingBar" class="ui-bar ui-bar-c"></div>
            <div id="noAuthZContent" data-role="content" class="fullarea">
        		<p>This Personal Agent does not have any authorizations yet.</p>
            </div>
            <div id="authZContent" data-role="content" class="fullarea">
            	<ul data-role="controlgroup">
	            	<% _.each(Apps, function(app, key) { %>  
	            		<a id="detail" data-appid="<%= key %>" data-role="button" data-iconpos="right" data-icon="arrow-r">
	            			<h3><%= app.name %></h3>
	            			<p>Last Access: <%= app.lastAccess %></p>
	            		</a>
	               	<% }); %>
	            </ul>
            </div>
    </script>
    
     <!-- AuthZ Details Page Template -->
    <script type="text/template" id="authzDetail" >
            <div data-role="header">
            	<a id="back" data-role="button" data-mini="true" data-inline="true" data-icon="arrow-l"><span style="font-size: 80%;">Authorizations</span></a>
                <h1>Detail</h1>
                <a id="delete" data-role="button" data-mini="true" data-inline="true" data-icon="delete">Delete</a>
            </div>
            <div id="messageBar" class="ui-bar ui-bar-e"></div>
            <div id="authZContent" data-role="content" class="fullarea">
        		<h3><%= this.app.name %></h3>
        		<div class="ui-grid-a">
  					<div class="ui-block-a" style="width: 90%;">
						<p>Last Access: <%= this.app.lastAccess %></p>
						<p>Accesses:</p>
						<ul data-role="listview" class="ui-listview">
							<% _.each(this.app.resources, function(resource) { %>
								<li class="ui-li ui-li-static ui-btn-up-c ui-first-child">
									<p class="authzList"><%= ResourceDescriptions[resource] %></p>
								</li>
							<% }); %>		
						</ul>
					</div>
					<div class="ui-block-b" style="width: 10%; text-align: right;">
						
					</div>		
				</div>
            </div>
    </script>

    <!-- AR Template -->
    <script type="text/template" id="agentrequest" >
            <div data-role="header">
            	<a href="#" data-role="button" data-inline="true" data-icon="home" data-iconpos="notext">Home</a>
                <h1>Agent Request</h1>
                <a id="cancel" data-role="button" data-inline="true" data-mini="true">Cancel</a>
            </div>
            <div id="messageBar" class="ui-bar ui-bar-e"></div>
            <div id="loadingBar" class="ui-bar ui-bar-c"></div>
            <div data-role="content" class="fullarea">
            	<div id="passcodeBlock">
            		<div id="noAuthCopy"><strong><%= this.model.AppDisplayName() %></strong> requests only logon</div>
            		<div id="authCopy"><strong><%= this.model.AppDisplayName() %></strong> requests logon with <strong><%= this.NumberOfAuthZs %></strong> authorizations.</div>
            		<div id="container-passcode"></div> 
            	</div>
                
	           	<div id="authZContainer">
	           		<p><span style="font-size: 18px; font-weight: bold"><%= this.model.AppDisplayName() %></span> requests:</p>
	            	<ul data-role="listview" data-theme="c" class="resourceList">
		        		<% _.each(ResourceDescriptions, function(resourceDescriptions) { %>  
		        			<li><%= resourceDescriptions %></li> 
						<% }); %>
					</ul>
			    </div>
            </div>
          	<div id="authZFooter" data-role="footer">
           		<div class="ui-grid-a">
		      		<div class="ui-block-a">
	      				<a class="footerButton" id="dontAllowButton" data-role="button" data-inline="true" data-icon="">Deny</a>
	      			</div>
		      		<div class="ui-block-b" style="text-align: right">
		      			<a class="footerButton" id="allowButton" data-role="button" data-inline="true" data-icon="">Authorize</a>
		      		</div>
		      	</div>
		    </div>
    </script>

    <!-- Enrollment Page Template -->
    <script type="text/template" id="enroll" >
            <div data-role="header">
            	<a href="#" data-role="button" data-inline="true" data-icon="home" data-iconpos="notext">Home</a>
                <h1>Enrollment</h1>
                <a id="cancel" data-role="button" data-inline="true" data-mini="true">Cancel</a>
            </div>
            <div id="messageBar" class="ui-bar ui-bar-e"></div>
            <div id="mainContainer" data-role="content" class="fullarea">
            	<div class="ui-grid-a">
					<div class="ui-block-a" style="width: 40%">
						<p>Device Name:</p>
					</div>
	        		<div class="ui-block-b" style="width: 60%">
	        			<input type="text" id="name" value="<%= Name %>"> 
	        		</div>
        		</div>
            	<div id="container-passcode"></div>
           	</div>
    </script>

    <!-- All the Scripts - for speed no require.js-->
    <script src="lib/jqm/jquery-1.8.2.min.js"></script>
    <script src="js/util/common.js"></script>
    <script src="js/util/ui.js"></script>
    <script src="js/init.js"></script>
    <script src="lib/jqm/jquery.mobile-1.2.0.min.js"></script>
    <script src="lib/jstorage/jstorage.min.js"></script>
    <script src="lib/backbone/underscore-min.js"></script>
    <script src="lib/backbone/backbone-min.js"></script>
    <script src="lib/barcodescanner/barcodescanner.js"></script>
    <script src="lib/pushnotification/PushNotification.js"></script>
    <script src="lib/uri/parseuri.js"></script>
    <script src="lib/fastclick/fastclick.js"></script>
    <script src="js/models/Settings.js"></script>
    <script src="js/models/Enrollment.js"></script>
    <script src="js/models/AgentRequest.js"></script>
    <script src="js/models/Authorizations.js"></script>
    <script src="js/models/Notification.js"></script>
    <script src="js/collections/EnrollmentSessions.js"></script>
    <script src="js/collections/AgentRequestSessions.js"></script>
    <script src="js/views/InfoView.js"></script>
    <script src="js/views/AuthzView.js"></script>
    <script src="js/views/AuthzDetailView.js"></script>
    <script src="js/views/HomeView.js"></script>
    <script src="js/views/SettingsView.js"></script>
    <script src="js/views/EnrollmentView.js"></script>
    <script src="js/views/AgentRequestView.js"></script>
    <script src="js/views/PasscodeView.js"></script>
	<script src="js/routers/AppRouter.js"></script>
	
    <script src="js/main.js"></script>
	
</head>

<body></body>

</html>