/* Override jquery mobile defautls for special cases on a per element basis */
.passcode {
	width: 50px !important;
	text-align: center;
	font-weight: bolder;
	padding: 10px !important;
	margin: 5px !important;
}
