<!DOCTYPE html>
<html>
<head>
    <title>Agent</title>
    <meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1" />
    
    <!-- Stylesheets -->
    <link href="lib/jqm/jquery.mobile-1.2.0.min.css" rel="stylesheet" type="text/css" />
    <link href="css/themes/agent.min.css" rel="stylesheet" type="text/css" />
    <link href="css/app.css" rel="stylesheet" type="text/css" />

	<!-- Scripts --> 
    <!-- <script src="http://jsconsole.com/remote.js?1BF7E2C1-C486-4729-8811-35E028FBEDE0"></script> -->

    <script src="lib/phonegap/cordova-2.2.0.js" type="text/javascript" charset="utf-8"></script>

    <!-- Home Page Template -->
    <script type="text/template" id="home" >
	        <div class="homeHeader" data-role="header" data-theme="f">
	        	<a id="empty"></a>
	            <h1>Agent Home</h1>
	            <a href="#settings" data-role="button" data-inline="true" data-icon="gear" data-iconpos="notext">Settings</a>
	        </div>
	        <div id="messageBar" class="ui-bar ui-bar-e"></div>
	      	<div id="enrolled" data-role="content" class="fullarea">
            
                <a class="homeButton twoLine" id="logonScan" data-role="button" data-iconpos="left" data-icon="app-qrcode">Scan Login<br>QR Code</a>
                <a class="homeButton" href="#authz" data-role="button" data-iconpos="left" data-icon="app-check" data-transition="fade">Review<br>Anytime<br>Authorizations</a>
                <a class="homeButton twoLine" id="demo" data-role="button" data-iconpos="left" data-icon="app-safari">Demo<br>Apps</a>
        
	      	</div>
	      	<div id="unenrolled" data-role="content" class="fullarea">
	      		Welcome to your Personal Agent.<br><BR>This Agent must be enrolled before you may use it.  
	     
               
                	<a class="homeButton" id="enrollDirect" data-role="button" data-iconpos="left" data-icon="app-safari">Enroll Agent<br>Directly with<br>Facebook</a>
                    <a class="homeButton" id="enrollScan" data-role="button" data-iconpos="left" data-icon="app-qrcode">Scan<br>Enrollment<br>QR Code</a>
             
	      	</div>
    </script>
    
    <!-- Passcode Dialogue Template -->
    <script type="text/template" id="passcode">
			<%=  this.displayPromptText() %>
			<div data-role="content">
				<input type="password" id="passcode1" class="passcode" pattern="\d*" maxlength="4">
			</div>
    </script>
    <!-- Settings Page Template -->
    <script type="text/template" id="settings" >
	        <div id="viewHeader" data-role="header" data-theme="f">
	     		<a href="#home" data-role="button" data-inline="true" data-icon="home" data-iconpos="notext">Home</a>	
	            <h1>Agent Info</h1>
	            <a id="edit" data-role="button" data-inline="true">Developer</a>	
	        </div>
	        <div id="viewContainer" data-role="content">
	        	<h2>Personal Agent</h2>
    			<p style="font-style: italic">A2P3 Protocol Draft v0.9</p>
    			<p>App Version - v1.7</p>
    			<p>More info at <a id="a2p3link">a2p3.net</a></p>
    			<a id="reset" data-rel="popup" data-role="button">Reset</a>
		        <h3>Device Name</h3>
		        <ul><li><p class="authzList"><%= _.escape(Name) %></p></li></ul>
		        <h3>Resource Server Cache</h3>
		        <ul>
		        	<% _.each(ResourceServerIds, function(resourceServerId) { %>  
	        			<li><p class="authzList"><%= _.escape(resourceServerId) %></p></li> 
					<% }); %>
		        </ul>
		         <h3>App Name Cache</h3>
		        <ul>
	        		<% _.each(AppNameCache, function(app) { %>  
	        			<li><p class="authzList"><%= _.escape(app.appId) %>: <%= _.escape(app.name) %></p></li> 
					<% }); %>	
		        </ul>
	        </div>
			<div data-role="popup" id="resetDialogue">
				<div data-role="header" data-theme="e">
					<h1>Confirm Reset</h1>
				</div>
				<div data-shadow="true" data-role="content" data-theme="d">
					<h3 class="ui-title">Are you sure you want to reset your setting to the installation defaults?</h3>
					<p>This action cannot be undone.</p>
					<a id="confirm" data-resetto="prod" data-role="button" data-transition="flow" data-theme="f" >Reset</a>
					<a id="cancel" data-role="button"  data-rel="back" data-theme="c" >Cancel</a>    
				</div>
			</div>
    </script>
    
	<!-- Dev Page Template -->
    <script type="text/template" id="dev" >
	        
	        <div id="editHeader" data-role="header" data-theme="f">
	     		<a id="back" data-role="button" data-inline="true">Back</a>	
	            <h1>Developer</h1>	
	        </div>
	        <div id="editContainer" data-role="content">
	        	<h2>WARNING!</h2>
	        	<p>
	        		Changing settings are for <b>developers only</b>.
	        	</p>
	        	<a id="reset" data-rel="popup" data-role="button">Advanced Reset</a>
	        	<br>
	      		Device Name:
	      		<input type="text" id="name" name="name" value="<%= Name %>" />
	      		Device Id:
	      		<input type="text" id="id" value="<%= DeviceId %>" />
	      		Notification Device token:
	      		<input type="text" id="notificationDeviceToken" value="<%= NotificationDeviceToken %>" />
	      		Registrar Token:
	      		<input type="text" id="registrarToken" value="<%= RegistrarToken %>" />
	      		Authentication Server Protocol:
	      		<select id="authenticationServerProtocolList" data-mini="true">
	      			<option value="http">
	      				http</option>
	      			<option value="https">
	      				https</option>
	      		</select>
	      		Authentication Server Host:
	      		<select id="authenticationServerHostList" data-mini="true">
	      			<option value="as.a2p3.net">as.a2p3.net</option>
	      			<option value="as.dev.a2p3.net">as.dev.a2p3.net</option>
	      			<option value="as.local.a2p3.net">as.local.a2p3.net</option>
	      		</select>
	      		Authentication Server Port (optional):
	      		<input pattern="\d*" type="text" id="authenticationServerPort" value="<%= AuthenticationServerPort %>" />
	      		
	      		Registrar Server Protocol:
	      		<select id="registrarProtocolList" data-mini="true">
	      			<option value="http">
	      				http</option>
	      			<option value="https">
	      				https</option>
	      		</select>
	      		Registrar Server Host:
	      		<select id="registrarHostList" data-mini="true">
	      			<option value="registrar.a2p3.net">registrar.a2p3.net</option>
	      			<option value="registrar.dev.a2p3.net">registrar.dev.a2p3.net</option>
	      			<option value="registrar.local.a2p3.net">registrar.local.a2p3.net</option>
	      		</select>
	      		Registrar Server Port (optional):
	      		<input pattern="\d*" type="text" id="registrarPort" value="<%= RegistrarPort %>" />
	      		
	      		Setup Server Protocol:
	      		<select id="setupProtocolList" data-mini="true">
	      			<option value="http">
	      				http</option>
	      			<option value="https">
	      				https</option>
	      		</select>
	      		Setup Server Host:
	      		<select id="setupHostList" data-mini="true">
	      			<option value="setup.a2p3.net">setup.a2p3.net</option>
	      			<option value="setup.dev.a2p3.net">setup.dev.a2p3.net</option>
	      			<option value="setup.local.a2p3.net">setup.local.a2p3.net</option>
	      		</select>
	      		Setup Server Port:
	      		<input type="url" id="setupPort" value="<%= SetupPort %>" />
	      		Demonstration Apps URL:
	      		<input type="url" id="demoAppsURL" value="<%= DemoAppsURL %>" />

	      		Resource Server Protocol:
	      		<select id="resourceServerProtocolList" data-mini="true">
	      			<option value="http">
	      				http</option>
	      			<option value="https">
	      				https</option>
	      		</select>
	      		Resource Server Port (Optional):
	      		<input pattern="\d*" type="text" id="resourceServerPort" value="<%= ResourceServerPort %>" />
	      	</div>
	      	<div data-role="popup" id="resetDialogue">
				<div data-role="header" data-theme="e">
					<h1>Confirm Reset</h1>
				</div>
				<div data-shadow="true" data-role="content" data-theme="d">
					<h3 class="ui-title">Are you sure you want to reset your setting to the installation defaults?</h3>
					<p>This action cannot be undone.</p>
					<a id="confirm" data-resetto="prod" data-role="button" data-transition="flow" data-theme="f" >Reset to *.a2p3.net (Default)</a>
					<a id="confirm" data-resetto="dev" data-role="button" data-transition="flow" data-theme="f" >Reset to *.dev.a2p3.net</a> 
					<a id="confirm" data-resetto="local" data-role="button" data-transition="flow" data-theme="f" >Reset to *.local.a2p3.net</a> 
					<a id="cancel" data-role="button"  data-rel="back" data-theme="c" >Cancel</a>    
				</div>
			</div>
    </script>
    
    <!-- Demo Page Template -->
    <script type="text/template" id="demo" >
    		
            <div data-role="header" data-theme="f">
            	<a href="#" data-role="button" data-inline="true" data-icon="home" data-iconpos="notext">Home</a>
                <h1>Demo</h1>
                <a href="#settings" data-role="button" data-inline="true" data-icon="gear" data-iconpos="notext">Settings</a>
            </div>
            <div data-role="content" class="fullarea">
                    This mobile Personal Agent App can be used by any registered client apps.  
                    For existing demostration applications, please check out our demo apps.
                    <a id="demoApps" name="demoAppsButton" data-role="button">Demo Apps</a>
            </div>
    </script>
    
    <!-- AuthZ Page Template -->
    <script type="text/template" id="authz" >
            <div id="viewHeader" data-role="header" data-theme="f">
            	<a href="#" data-role="button" data-inline="true" data-icon="home" data-iconpos="notext">Home</a>
                <h1 style="font-size: 90%;">Anytime Authorizations</h1>
                <a id="edit" data-role="button" data-inline="true">Edit</a>
            </div>
            <div id="editHeader" data-role="header" data-theme="f">
            	<a href="#" data-role="button" data-inline="true" data-icon="home" data-iconpos="notext">Home</a>
                <h1 style="font-size: 90%;">Anytime Authorizations</h1>
                <a id="cancel" data-role="button" data-inline="true">Cancel</a>
            </div>
            <div id="messageBar" class="ui-bar ui-bar-e"></div>
            <div id="loadingBar" class="ui-bar ui-bar-c"></div>
            <div id="noAuthZContent" data-role="content" class="fullarea">
        		<p>This Personal Agent does not have any <b>anytime</b> authorizations.</p>
            </div>
            <div id="authZContent" data-role="content" class="fullarea">
            	<br>
            	<ul id="viewList" data-role="listview" data-theme="f">    
            		<% _.each(Apps, function(app, key) { %> 
			      		<li data-icon="arrow-r">            	
	            			<a id="detail" data-appid="<%= key %>">
		            			<p><span style="font-size: 18px; font-weight: bold"><%= _.escape(app.name) %></span> (<%= _.escape(key) %>)</p>
		            			<p>Last Access: <%= getLastAccess(app.lastAccess) %></p>
		            		</a>
		            	</li>
		            <% }); %>
	            </ul>
	            <ul id="editList" data-role="listview" data-theme="f" data-iconpos="left">    
            		<% _.each(Apps, function(app, key) { %> 
			      		<li data-icon="delete"  data-iconpos="left" class="ui-btn-icon-left">            	
		            		<a style="padding-left: 40px;"  id="delete" data-rel="popup" data-appid="<%= key %>" data-appname="<%= app.name %>">
		            			<p><span style="font-size: 18px; font-weight: bold"><%= _.escape(app.name) %></span> (<%= _.escape(key) %>)</p>
		            			<p>Last Access: <%= getLastAccess(app.lastAccess) %></p>
		            		</a>
		            	</li>
		            <% }); %>
	            </ul>
	            <div data-role="popup" id="deleteDialogue">
  					<div data-role="header" data-theme="e">
						<h1>Confirm Remove</h1>
					</div>
					<div data-shadow="true" data-role="content" data-theme="d">
						<h3 class="ui-title">Are you sure you want to remove all access for <%= _.escape(this.confirmAppName) %> (<%= _.escape(this.confirmAppId) %>)?</h3>
						<p>This action cannot be undone.</p>
							<a id="deleteConfirm" data-role="button" data-transition="flow" data-theme="f">Remove</a>
							<a id="cancel" data-role="button" data-rel="back">Cancel</a>    
					</div>
  				</div>
            </div>
    </script>
    
     <!-- AuthZ Details Page Template -->
    <script type="text/template" id="authzDetail" >
            <div data-role="header" data-theme="f">
            	<a id="back" data-role="button" data-mini="true" data-inline="true" data-icon="arrow-l">Back</a>
                <h1>Detail</h1>
            </div>
            <div id="messageBar" class="ui-bar ui-bar-e"></div>
            <div id="authZContent" data-role="content" class="fullarea">
        		<p><span style="font-size: 18px; font-weight: bold"><%= _.escape(this.app.name) %></span>
        			 (<%= _.escape(this.id) %>)</p>
				<p>Last Access: <%= getLastAccess(this.app.lastAccess) %></p>
				<p>Anytime Authorizations:</p>
				<ul data-role="listview" data-theme="c">
					<% _.each(this.app.resources, function(resource) { %>
						<li>
							<p class="authzList"><%= ResourceDescriptions[resource] %></p>
						</li>
					<% }); %>		
				</ul>
            </div>
    </script>

    <!-- AR Template -->
    <script type="text/template" id="agentrequest" >
            <div id="header" data-role="header" data-theme="f">
        		<a id="back" data-role="button" data-inline="true" data-mini="true">Back</a>
                <h1>Agent</h1>
                <a id="report" data-role="button" data-inline="true" data-mini="true">Report</a>
            </div>
            <div id="passcodeHeader" data-role="header" data-theme="f">
            	<a id="cancel" data-role="button" data-inline="true" data-mini="true">Cancel</a>
                <h1>Agent</h1>
                <a id="report" data-role="button" data-inline="true" data-mini="true">Report</a>
            </div>
            <div id="abortHeader" data-role="header" data-theme="f">
        		<a id="home" href="#" data-role="button" data-inline="true" data-icon="home" data-iconpos="notext">Home</a>
                <h1>Agent</h1>
            </div>
            <div id="messageBar" class="ui-bar ui-bar-e"></div>
            <div id="loadingBar" class="ui-bar ui-bar-c"></div>
            <div data-role="content" class="fullarea">
            	<div id="passcodeBlock">
            		<div id="container-passcode"></div> 
            	</div>
                
	           	<div id="authZContainer">
	           		<p><span style="font-size: 18px; font-weight: bold"><%= _.escape(this.model.AppDisplayName()) %></span> 
	           			(<%= _.escape(AppId) %>) requests:
	           		</p>
	           		<br>
	            	<ul data-role="listview" data-theme="c">
		        		<% _.each(ResourceDescriptions, function(resourceDescriptions) { %>  
		        			<li><%= resourceDescriptions %></li> 
						<% }); %>
					</ul>
					<br>
			    </div>
			    
			    <div id="reportContainer">
			    	<p>Confirm you want to report <span style="font-size: 18px; font-weight: bold"><%= _.escape(this.model.AppDisplayName()) %></span> 
	           			(<%= _.escape(AppId) %>) for making an inappropriate request.
	           		</p>
			    </div>
			    <div id="reportConfirmedContainer">
			    	<p><span style="font-size: 18px; font-weight: bold"><%= _.escape(this.model.AppDisplayName()) %></span> 
	           			(<%= _.escape(AppId) %>) has been reported.
	           		</p>
			    </div>
			    <div id="abort">
			    	
			    </div>
            </div>
          	<div id="authZFooter" data-role="footer" data-theme="f">
           		<div class="ui-grid-a">
		      		<div class="ui-block-a">
	      				<a class="footerButton" id="dontAllowButton" data-role="button" data-inline="true" data-icon="">Deny</a>
	      			</div>
		      		<div class="ui-block-b" style="text-align: right">
		      			<a class="footerButton" id="allowButton" data-role="button" data-inline="true" data-icon="">Authorize</a>
		      		</div>
		      	</div>
		    </div>
		    <div id="reportFooter" data-role="footer" data-theme="f">
           		<div class="ui-grid-a">
		      		<div class="ui-block-a">
	      				<a class="footerButton" id="cancelReport" data-role="button" data-inline="true" data-icon="">Cancel</a>
	      			</div>
		      		<div class="ui-block-b" style="text-align: right">
		      			<a class="footerButton" id="confirmReport" data-role="button" data-inline="true" data-icon="">Report</a>
		      		</div>
		      	</div>
		    </div>
		  	<div id="reportConfirmedFooter" data-role="footer" data-theme="f">
           		<div class="ui-grid-a">
		      		<div class="ui-block-a">
	      			
	      			</div>
		      		<div class="ui-block-b" style="text-align: right">
		      			<a id="done" class="footerButton" data-role="button" data-inline="true" data-icon="">Done</a>
		      		</div>
		      	</div>
		    </div>
    </script>

    <!-- Enrollment Page Template -->
    <script type="text/template" id="enroll" >
            <div data-role="header" data-theme="f">
            	<a href="#" data-role="button" data-inline="true" data-icon="home" data-iconpos="notext">Home</a>
                <h1>Agent Enrollment</h1>
                <a id="cancel" data-role="button" data-inline="true" data-mini="true">Cancel</a>
            </div>
            <div id="messageBar" class="ui-bar ui-bar-e"></div>
            <div id="mainContainer" data-role="content" class="fullarea">
            	<div class="ui-grid-a">
					<div class="ui-block-a" style="width: 40%">
						<p>Device Name:</p>
					</div>
	        		<div class="ui-block-b" style="width: 60%">
	        			<input type="text" id="name" value="<%= Name %>"> 
	        		</div>
        		</div>
            	<div id="container-passcode"></div>
           	</div>
    </script>

    <!-- All the Scripts - for speed no require.js-->
    <script src="lib/jqm/jquery-1.8.2.min.js"></script>
    <script src="js/util/common.js"></script>
    <script src="js/util/ui.js"></script>
    <script src="js/init.js"></script>
    <script src="lib/jqm/jquery.mobile-1.2.0.min.js"></script>
    <script src="lib/jstorage/jstorage.min.js"></script>
    <script src="lib/backbone/underscore-min.js"></script>
    <script src="lib/backbone/backbone-min.js"></script>
    <script src="lib/barcodescanner/barcodescanner.js"></script>
    <!--<script src="lib/pushnotification/PushNotification.js"></script>-->
    <script src="lib/uri/parseuri.js"></script>
    <script src="lib/fastclick/fastclick.js"></script>
    <script src="lib/showdown/showdown.js"></script>
    <script src="lib/moment/moment.min.js"></script>
    <script src="js/models/Settings.js"></script>
    <script src="js/models/Enrollment.js"></script>
    <script src="js/models/AgentRequest.js"></script>
    <script src="js/models/Authorizations.js"></script>
    <script src="js/models/Notification.js"></script>
    <script src="js/collections/EnrollmentSessions.js"></script>
    <script src="js/collections/AgentRequestSessions.js"></script>
    <script src="js/views/EnrollmentView.js"></script>
    <script src="js/views/AuthzView.js"></script>
    <script src="js/views/AuthzDetailView.js"></script>
    <script src="js/views/HomeView.js"></script>
    <script src="js/views/SettingsView.js"></script>
    <script src="js/views/AgentRequestView.js"></script>
    <script src="js/views/PasscodeView.js"></script>
    <script src="js/views/DevView.js"></script>
	<script src="js/routers/AppRouter.js"></script>
	
    <script src="js/main.js"></script>
	
</head>

<body></body>
<!--
/* 
* Copyright (C) 2013 Sierra Systems Group Inc.
*
* Permission is hereby granted, free of charge, to any person obtaining a 
* copy of this software and associated documentation files (the "Software"), 
* to deal in the Software without restriction, including without limitation 
* the rights to use, copy, modify, merge, publish, distribute, sublicense, 
* and/or sell copies of the Software, and to permit persons to whom the 
* Software is furnished to do so, subject to the following conditions:
*
* The above copyright notice and this permission notice shall be included 
* in all copies or substantial portions of the Software.
*
* THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS 
* OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
* FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL 
* THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
* LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING 
* FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER 
* DEALINGS IN THE SOFTWARE.
*
*/-->
</html>